body{
    background-color: #F0EABE;
    line-height: 2;
    font-family: 'Merriweather', serif;
    color: #40514E;
    margin: 10px 30px;
    font-weight: normal;


}

h1 {
  color: #472D2D;
}

h3 {
  color: #472D2D;
}

h4 {
  color: #472D2DF
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    padding: 10px;

}
